@font-face{
    font-family: 'Bold';
    src: url("../fonts/bold-font.otf") format("opentype");
}

@font-face{
    font-family: 'regular';
    src: url("../fonts/regular-font.otf") format("opentype");
}
/* werkt niet */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-text: #111;
  --color-background: #eee;
}

h1, h2, h3, h4, button, a{
  text-transform: uppercase;
  font-family: "Bold", Verdana, Geneva, Tahoma, sans-serif;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

main {
  text-align: center;
}

a {
  display: inline-block;
  padding: 1em;
  font-size: small;
  font-weight: bold;
  text-decoration: none;
  background: black;
  color: white;
  cursor: pointer;
  border-radius: 4em;
  justify-content: center;
  margin-bottom: 2em;
}

header {
  text-align: center;
  position: relative;
  width: 100vw;
  overflow: hidden;
}

header>video {
  margin-top: 5em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(80%);
}

header>h1 {
  position: relative;
  font-size: 3em;
  font-weight: bolder;
  text-align: center;
  color: white;
  margin: 0;
  padding-top: 25vh;
}

header>p {
  padding: 1em;
  position: relative;
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.5;
  color: white;
}

img {
  justify-content: center;
  width: 100%;
  height: auto;
}

header>div {
  display: flex;
  justify-content: center;
}

header img {
  margin-top: 1em;
  width: 22%;
  height: auto;
  position: fixed;
  z-index: 100;
  border-radius: 50%;
  background-color: white;
  padding: 0.8em;
}

.banner {
  background-color: #57bdb5;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 8vh;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  height: 11vh;
}

.example-left {
  -webkit-animation: mymove 20s linear infinite;
  /* Safari 4.0 - 8.0 */
  white-space: nowrap;
  animation: mymove 20s linear infinite alternate;
  /* Bron bewegende banner: https://codepen.io/Sofie-Maters/pen/zxvgKPZ */
  /* wel een class? */
}

section:nth-of-type(1) {
  color: white;
  background-color: #723c91;
  padding: 3em;
}

section:nth-of-type(3) {
  color: white;
  background-color: #723c91;
}

section h2 {
  margin-top: 2em;
  margin-bottom: 1em;
}

section:nth-of-type(4) {
  color: white;
  background-color: #e08b53;
}

section:nth-of-type(5) {
  color: white;
  background-color: #57bdb4;
}

.sterren {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 20%;
  height: auto;
}

section:nth-of-type(2) ul {
  display: flex;
  overflow: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overscroll-behavior-x: contain;
  gap: 1em;
  scrollbar-width: none;
}

section:nth-of-type(2) li {
  flex-basis: 100%;
  flex-shrink: 0;
  scroll-snap-align: center;
}

section:nth-of-type(2) li img {
  width: 50%;
}

section:nth-of-type(2) h4 {
  text-transform: none;
  margin-top: 1em;
}

section:nth-of-type(2) ul::scroll-button(*) {
  width: 3em;
  aspect-ratio: 1;
  border: white;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1em;
  font-weight: bolder;
  position: absolute;
}

section:nth-of-type(2) ul::scroll-button(right) {
  content: '>' / 'Next';
  color: white;
  background-color: #57bdb4;
  right: clamp(1.5rem, 5vw, 2rem);
}

section:nth-of-type(2) ul::scroll-button(left) {
  content: '<' / 'Previous';
  color: white;
  background-color: #57bdb4;
  left: clamp(1.5rem, 5vw, 2rem);
}

section:nth-of-type(6) {
  font-size: x-large;
  padding-top: 50%;
  color: white;
  text-align: center;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

section:nth-of-type(6) img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(80%);
}

section:nth-of-type(7) {
  justify-content: center;
  display: flex;
  position: relative;
  color: white;
  background-color: #f1d160;
  padding: 2em;
}

section:nth-of-type(7) img {
  object-fit: cover;
  position: absolute;
  height: 12vh;
  width: auto;
}

section:nth-of-type(7) a {
  z-index: 4;
  margin-top: 2em;
  color: black;
  background: white;
}

section:nth-of-type(8) {
  color: white;
  background-color: #723c91;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 175px));
  gap: 20px;
  padding: 20px;
}

section:nth-of-type(8) h4 {
  margin-top: 1em;
  text-align: left;
  font-size: small;
}

section:nth-of-type(8) p {
  margin-top: 1em;
  text-align: left;
  font-size: small;
}

section:nth-of-type(8) a {
  margin-top: 1em;
  background: none;
  text-align: left;
  border-radius: 0;
}

footer {
  background-color: #57bdb4;
}

footer img {
  width: 100%;
  height: auto;
}

footer svg {
  background-color: white;
  border-radius: 50%;
  margin-top: 2em;
  margin-left: 0.5em;
}

footer a {
  background: none;
  margin-left: 2em;
  text-align: left;
  border-radius: 0;
  color: #111;
  text-decoration: underline;
}

footer p {
  background-color: white;
  font-size: small;
  padding: 1.5em;
}

.img-header{
  border-radius: 0;
  object-fit: cover;
  z-index: -1;
  padding: 0;
  margin-top: 5em;
  position: absolute;
  filter: brightness(80%);
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

#pagina2 header article{
  background-color: #57bdb4;
  text-decoration: none;
  padding: 2em;
}

#pagina2 header button{
  background-color: transparent;
  border: none;
  color: #3b6a67;
  font-size: large;
  font-weight: bolder;
}

#pagina2 section:nth-of-type(1){
  background-color: #723c91;
  font-size: 0.7em;
  grid-template-columns: 1fr 1fr;
  padding: 0;
}

#pagina2 section:nth-of-type(1) img{
  display: flex;
  justify-content: center;
  width: 40%;
  height: auto;
}

#pagina2 section:nth-of-type(1) .sterren{
  width: 20%;
  height: auto;
}

#pagina2 section:nth-of-type(1) h3{
  display: grid;

}

#pagina2 section:nth-of-type(1) button{
  margin-left: 5em;
  margin-right: 5em;
  padding: 1em;
  font-size: small;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  background: black;
  color: white;
  cursor: pointer;
  border-radius: 4em;
  justify-content: center;
  margin-bottom: 2em;
}

#pagina2 section:nth-of-type(3){
  background-color: initial;
}

#pagina2 section:nth-of-type(4) h2{
  margin-top: -5px;
  padding-top: 2em;
  font-size: 2em;
}

#pagina2 section:nth-of-type(4){
  background-color: #d45f65;
}


#pagina2 section:nth-of-type(6) {
  color: white;
  background-color: #723c91;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 175px));
  gap: 20px;
  padding: 20px;
}

#pagina2 section:nth-of-type(6) h4 {
  margin-top: 1em;
  text-align: left;
  font-size: small;
}

#pagina2 section:nth-of-type(6) p {
  margin-top: 1em;
  text-align: left;
  font-size: small;
}

#pagina2 section:nth-of-type(6) a {
  margin-top: 1em;
  background: none;
  text-align: left;
  border-radius: 0;
}


#pagina2 section:nth-of-type(6) > article img {
  position: absolute;
  height: 50px;
  width: 50px;
  z-index: 2;
  filter: brightness(80%);
}




